NodeRed Flow.json
[{"id":"f1d8d23c.e53f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3fb8b7b1.d899c8","type":"mqtt in","z":"f1d8d23c.e53f4","name":"","topic":"/topic/mesh","qos":"1","datatype":"auto","broker":"b14d9cbc.de38c","x":210,"y":200,"wires":[["8b9b846b.554be8"]]},{"id":"4f3f997b.cee418","type":"ui_chart","z":"f1d8d23c.e53f4","name":"","group":"71a4cbd.0159034","order":2,"width":0,"height":0,"label":"Messurements","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1000,"y":220,"wires":[[]]},{"id":"8b9b846b.554be8","type":"json","z":"f1d8d23c.e53f4","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":200,"wires":[["5118396e.a6f358","3f05bb5a.6840f4"]]},{"id":"311b4a0a.9c3856","type":"change","z":"f1d8d23c.e53f4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DATA","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":220,"wires":[["4f3f997b.cee418"]]},{"id":"1a1c94e9.ce537b","type":"ui_text","z":"f1d8d23c.e53f4","group":"71a4cbd.0159034","order":1,"width":0,"height":0,"name":"","label":"ID","format":"{{msg.payload.ID}}","layout":"row-spread","className":"","x":970,"y":180,"wires":[]},{"id":"39fd0b96.323ef4","type":"ui_text","z":"f1d8d23c.e53f4","group":"71a4cbd.0159034","order":4,"width":0,"height":0,"name":"","label":"Data","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":140,"wires":[]},{"id":"538954c6.43c36c","type":"ui_text","z":"f1d8d23c.e53f4","group":"84c660cf.f1588","order":3,"width":0,"height":0,"name":"","label":"Data","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":300,"wires":[]},{"id":"f444ed89.9252b","type":"ui_text","z":"f1d8d23c.e53f4","group":"84c660cf.f1588","order":1,"width":0,"height":0,"name":"","label":"ID","format":"{{msg.payload.ID}}","layout":"row-spread","className":"","x":970,"y":340,"wires":[]},{"id":"12ab7f6b.ba8071","type":"ui_chart","z":"f1d8d23c.e53f4","name":"","group":"84c660cf.f1588","order":2,"width":0,"height":0,"label":"Messurements","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1000,"y":380,"wires":[[]]},{"id":"5118396e.a6f358","type":"switch","z":"f1d8d23c.e53f4","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"53","vt":"num"},{"t":"eq","v":"33","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":200,"wires":[["311b4a0a.9c3856","1a1c94e9.ce537b","39fd0b96.323ef4"],["538954c6.43c36c","f444ed89.9252b","a062cb3a.081918"]]},{"id":"a062cb3a.081918","type":"change","z":"f1d8d23c.e53f4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DATA","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":380,"wires":[["12ab7f6b.ba8071"]]},{"id":"3f05bb5a.6840f4","type":"debug","z":"f1d8d23c.e53f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"bda656cd.15ac18","type":"inject","z":"f1d8d23c.e53f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"DATA\":77, \"ID\":33}","payloadType":"str","x":190,"y":280,"wires":[["8b9b846b.554be8"]]},{"id":"b14d9cbc.de38c","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"71a4cbd.0159034","type":"ui_group","z":"","name":"Sensor 1","tab":"ee48c223.7dc59","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"84c660cf.f1588","type":"ui_group","z":"","name":"Sensor 2","tab":"ee48c223.7dc59","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ee48c223.7dc59","type":"ui_tab","z":"","name":"Mesh","icon":"dashboard","disabled":false,"hidden":false}]